.home-body .responsive-grid {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.home-body .vertical-card {
  width: 20rem;
}

.home-body .vertical-card:hover {
  box-shadow: 0 0 10px var(--dark-background-color);
}

.home-body .vertical-card .text-overlay {
  visibility: visible;
  opacity: 0.9;
}

.main-body .thick-bar {
  width: 20%;
  border-bottom: 3px solid var(--theme-color);
}

@media only screen and (max-width: 850px) {
  .main-body {
    width: 100vw;
    height: calc(100vh - 7rem);
  }

  .home-body .vertical-card {
    width: 15rem;
  }
  .featured-head {
    font-size: 2rem;
  }
}
