.single-video-body {
  display: grid;
  grid-template-columns: 1fr 18rem;
  width: 100%;
  column-gap: 2rem;
}

.side-video-list {
  height: 100%;
  overflow-y: auto;
}

.side-video-list::-webkit-scrollbar {
  display: none;
}

.video-container {
  height: 100%;
}

.video-container::-webkit-scrollbar {
  display: none;
}

.video-container .add-notes {
  position: relative;
}

.video-container .add-notes-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}

.video-container .add-notes textarea {
  width: 100%;
  margin-top: 0.5rem;
  height: 10rem;
}

.single-video-option .mar-right-auto {
  margin-right: auto;
}
@media only screen and (max-width: 850px) {
  .single-video-body {
    grid-template-columns: 1fr;
  }

  .side-video-list {
    margin-top: 1rem;
  }

  .single-video-title {
    font-size: 1.2rem;
  }

  .single-video-option {
    font-size: 1rem;
  }

  .single-video-option p {
    margin-right: 0.5rem;
  }

  .single-video-option i {
    font-size: 1.2rem;
  }

  .side-video-list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: unset;
  }

  .single-video-option .mar-right-auto {
    margin-right: auto;
  }
}
